:root {
    --bg-crema: #f7f1e1;
    --azul: #5ac4e4;
    --azul-fuerte: #0169e2;
    --azul-titulo: #0e1d51;
    --naranja: #ffa102;
    --blanco: #ffffff;
    --rosa-mexicano: #d30055;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

p {
    overflow-wrap: -word;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-crema) !important;;
}


.header__container{
    position: relative; 
    top: -16px;
}

.navbar__container{
    width: 100vw;
}

.navbar__ul__element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding-top:18px;
}


nav .navbar__ul__element{
    list-style: none;
    background-color: var(--rosa-mexicano);
}

nav .navbar__ul__element li{
    display: inline-block;
    color: var(--blanco);
    width: 100%;
    height: 100%;
    padding-top: 11px;
}

nav .navbar__ul__element li a {
    text-decoration: none;
    color: white;
}


nav .navbar__ul__element 
li:nth-child(1),
li:nth-child(2),
li:nth-child(3),
li:nth-child(4),
li:nth-child(5){
    position: relative;
    right: 80px;
}



nav .navbar__ul__element 
li:nth-child(1), 
li:nth-child(2),
li:nth-child(3),
li:nth-child(4) {
    border-right: 1px solid var(--bg-crema);
}

nav .navbar__ul__element 
li:nth-child(2), 
li:nth-child(3),
li:nth-child(4),
li:nth-child(5) {
    text-align: center;
}

.li__logo{
    left: 2px;
}

.li__logo img{
    width: 70%;
    height: 90%;
}

.li__logo:hover{
    cursor: pointer;
}

.li__home:hover{
    cursor: pointer;
}

.li__recetas:hover {
    cursor: pointer;
}

.li__comprar:hover {
    cursor: pointer;
}

.li__search .search__container {
    position: relative;
    left: 35px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;


}

.search__container .search__icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: relative;
    right: 30px;
    cursor: pointer;
}

.li__search input {
    width: 160px;
    height: 20px;
    border: none;
    outline: none;
    position: relative;
    right: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bg-crema);
}

.hero{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 550px;
}

.tituloh1 {
    color: var(--naranja);
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.info {
    align-self: flex-start;
    background-color: var(--naranja);
    height: 78.5%;
    margin-right: 10px;
    border-radius: 10px;
}

.info_card{
    text-align: justify;
    padding-right: 5%;
}

.info_title {
    color: var(--blanco);
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.info_subtitle {
    color: var(--blanco);
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 20px;
}

h4.info_subtitle.info_card{
    font-weight: bold;
}

.hero_img {
    width: 90%;
    height: 78.5%;
    border-radius: 10px;
}

.hero_img .hero_img_recetas{
    border-radius: 50%;
}

.section_recetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    background-color: #227d00;
    padding: 4% 2% 2% 2%;
    border-bottom: 1px solid #ddd;
    border-radius: 20px;
}

.section_recetas_tonic{
    padding-top:5%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 10%;
    background-color: blue;
    border-radius: 2%;
}

.section_recetas_tonic .tonic_img {
    width: 50%;
    height: 50%;
    border-radius: 10%;
    /*
    object-fit: contain;
    position: relative;
    left: 100px;
    border-radius: 10px; */
}

.section_recetas_tonic .tonic_title {
    color: #daf9d7;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.section_recetas_tonic .tonic_button {
    background-color: #008CBA;
}

.section_recetas_tonic .boton_tequila_ver {
    color: #d9f8d6;
}

.section_recetas_tonic .boton_tequila_ver .tonic_button {
    cursor: pointer;
    background-color: #002d1b;
    color: #daf9d7;
    border-radius: 5px;
}

.section_recetas_tonic .boton_tequila_ver .tonic_button:hover {
    cursor: pointer;
    background-color: #058150;
    color: #daf9d7;
    border-radius: 5px;
}





/* 
------------------------------------------CSS DE FOOTER-----------------------------------------------
*/
.footer-dark {
    padding:20px;
    color:#f0f9ff;
    background-color:#0169e2;
    position: relative;
    bottom: 0px;  
    width: 100vw;
    margin-top:100px;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:12px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:2px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }


